body {
	margin: 0;
	background: #422936;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

canvas {
	background: #FFE4C2;
	image-rendering: pixelated;
	max-height: 520px;
	height: 80vh;
	border-radius: 3px;
}
